* {
	margin: 0;
	box-sizing: border-box; }
body {
	font-family: 'Outfit', sans-serif; 
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: hsl(212, 45%, 89%); }
.container {
	 width: 330px;
	 background-color: hsl(0, 0%, 100%);
	 padding: 15px;
	 border-radius: 15px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-direction: column; }
.qr__code {
	width: 300px;
	border-radius: 15px;
	margin-bottom: 20px; }
.text {
	width: 260px; }
h1 {
	font-size: 20px;
	margin-bottom: 20px; 
	color: hsl(218, 44%, 22%);
	font-weight: 700; }
p {
	font-size: 15px;
	color: hsl(220, 15%, 55%);
	font-weight: 400;
	margin-bottom: 15px; }
h1, p {
	text-align: center; }